/* MyForm.css */

/* App component background */
.app-background {
  background-color: #f5f5f5;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Form container */
.form-container {
  width: 80%; 
  max-width: 600px; 
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

/* Form labels */
.form-label {
  font-weight: bold;
  color: #333333;
}

/* Form inputs */
.form-control {
  width: 100%;
  margin-bottom: 10px;
}

/* Page Size picker styling */
.page-size-picker {
  width: 100%;
}

/* Submit button styling */
.btn-primary {
  background-color: #4c4caf;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  color: #ffffff;
  transition: background-color 0.3s;
}

.btn-primary:hover {
  background-color: #313184;
}

.btn-primary:disabled {
  background-color: #6161a1;
}

/* Mobile-friendly adjustments */
@media (max-width: 768px) {
  .form-container {
    width: 90%;
  }

  /* Adjust other styles as needed for smaller screens */
}
